
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,500&display=swap');
*{ 
    /* margin: 0px; */
    font-family: 'Work Sans', sans-serif;
}
.container{
   background: rgba(255, 144, 14, 0.10);
   padding: 50px 240px;
  
}
.text-color{
    color: #727272;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav> ul{
    display: flex;
    list-style-type:none;
    
}
 nav li{
   margin-right: 40px;
   font-size: 18px;
   font-weight: 500;
}
nav a{
    text-decoration: none;
    color: #424242;
}
.banner{
    text-align: center;
    justify-content: center;
    

}
.banner-title{
    
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    padding: 0px 180px;
    color: #727272;
}
.primary{
    width: 180px;
    height: 4rem;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    border: 0;
}
header img{
    width: 100%;
    margin-top: 20px;

}

/* tems ..... */
main{
    max-width: 1440px;
    margin:70px auto;
}
.team{
    display: flex;
    align-items: center;
    
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   gap: 20px;
}
.teams-detals{
    padding: 0px 70px;
}
.featere{
    display: flex;
    margin-top:80px;
    gap: 100px
    ;
}
.foot-img{
    height: 90%;
    margin-left: 90px;
}

.featere-card{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 20px;
margin: 30px;

}
.primary-head{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.tag{
    background-color: #FF900E;
    width: 342px;
height: 150px;
border-radius: 8px;
color: white;
padding: 45px 40px;
text-align: center;
position: relative;
 bottom: 150px;
}
.tag-head{
    font-size: 4rem;
    font-weight: 700;
    margin: 10px 0px;
}
.tag-title{
    font-size: 1.4rem;
}







.quick{
    color: #727272;
    font-size: 3rem;
    font-weight: 500;

}
.of{
    color:  #131313;
    font-size: 3rem;
    font-weight: 700;

}
.features{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;

}
.card-facts{
    display: flex;
    justify-content: space-around;
}
.card-facts .card{
   padding: 30px;
    text-align: center;
border-radius: 8px;
border: 1px solid #FF900E;
}
.number{
    font-size: 2.5rem;
    font-weight: 700;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
margin-top: 0px;
margin-bottom: 0px;
    color:  #727272;
font-size: 1.25rem;
font-weight: 600;

}
.primary-head{
    font-size: 2.8rem;
    font-weight: 700;
}
.sponspros-details{
    text-align: center;
}
.sponspros-img{
    
    align-items: center;
    display:flex;
    justify-content: space-evenly;
   margin-top: 50px;
}
.sponspros-img >img{
    height: 50px;
    width: 153px;
    padding:10px;
}





/* ....responsive.... */
@media screen and (max-width:576px) {
    .container{
       padding: 0px;
    }  
    nav , .team ,.card-facts
    ,.sponspros-img,.featere
    
    {
       flex-direction: column;
    } 
    .banner-description{
       padding: 0px;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    .card-facts{
        padding: 10px;
        gap: 3px
        ;
    }
    .foot-img{
        width: 90%;
        margin: 0px;

    }
    .tag{
        width: 300px;
        position: static;
    }
   }
   /*  ..mediam .... */
   @media screen and (min-width:576px) and (max-width:890px) {
       .container{
           padding: 4px;
       }
       nav,.team
       ,.sponspros-img
       ,.featere{
           flex-direction: column;
        } 
       
   }